/*
			Author:				Johnny Pack
			Date:				7/10/2020
			Assignment:			CSCI 1210 Group Project
			Purpose:			Makin' this stuff look GOOD.

*/
	body {
		margin: 0;
		font-family: Arial, Helvetica, sans-serif;
		background-color: white;
		color: #EDB518;
	}

	.topnav {
		overflow: hidden;
		background-color: #79031D;
	}

	.logo{
		display: block;
		margin: auto;
		text-align: center;
	}
	
	.topnav a {
		float: left;
		color: #EDB518;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}

	.topnav a:hover {
		background-color: #EDB518;
		color: black;
	}

	.topnav a.active {
		background-color: #EDB518;
		color: #000407;
		text-decoration: underline;
	}
		
	html {
		background-color: rgb(250, 250, 250);
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}
	
	.column {
		float: left;
		width: 33.3%;
		margin-bottom: 16px;
		padding: 0 8px;
	}

	.card {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		margin: 8px;
		background: #79031D;
	}

	.about-section {
		padding: 50px;
		text-align: center;
		background-color: #474e5d;
		color: white;
	}

	.container {
		padding: 0 16px;
	}

	.container::after, .row::after {
		content: "";
		clear: both;
		display: table;
	}

	.button {
		border: none;
		outline: 0;
		display: inline-block;
		padding: 8px;
		color: #EDB518;
		background-color: #000;
		text-align: center;
		cursor: pointer;
		width: 100%;
	}

	header {	
		display: block;
		margin: auto;
		padding: 10px;
		text-align: center;
		font-size: 50px;
		color: white;
	}
	.logo{
		width: 200px;
		height: 200px;
		padding: 10px;
	}
	.button:hover {
		background-color: #EDB518;
		color: black;
	}
	@media screen and (max-width: 650px) {
		.column {
			width: 100%;
			display: block;
		  }
	}